<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.charge.dao.mapper.device.PriceTypeCBMapper" >
  <resultMap id="BaseResultMap" type="com.charge.entity.po.device.PriceTypeCB" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FREE_TIME" property="freeTime" jdbcType="VARCHAR" />
    <result column="PRICE_PER_HOUR" property="pricePerHour" jdbcType="VARCHAR" />
    <result column="TOP_PRICE_PER_DAY" property="topPricePerDay" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FREE_TIME, PRICE_PER_HOUR, TOP_PRICE_PER_DAY, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_price_type_cb
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_price_type_cb
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.charge.entity.po.device.PriceTypeCB" >
    insert into t_price_type_cb (ID, FREE_TIME, PRICE_PER_HOUR, 
      TOP_PRICE_PER_DAY, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{freeTime,jdbcType=VARCHAR}, #{pricePerHour,jdbcType=VARCHAR}, 
      #{topPricePerDay,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.charge.entity.po.device.PriceTypeCB" >
    insert into t_price_type_cb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="freeTime != null" >
        FREE_TIME,
      </if>
      <if test="pricePerHour != null" >
        PRICE_PER_HOUR,
      </if>
      <if test="topPricePerDay != null" >
        TOP_PRICE_PER_DAY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="freeTime != null" >
        #{freeTime,jdbcType=VARCHAR},
      </if>
      <if test="pricePerHour != null" >
        #{pricePerHour,jdbcType=VARCHAR},
      </if>
      <if test="topPricePerDay != null" >
        #{topPricePerDay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.charge.entity.po.device.PriceTypeCB" >
    update t_price_type_cb
    <set >
      <if test="freeTime != null" >
        FREE_TIME = #{freeTime,jdbcType=VARCHAR},
      </if>
      <if test="pricePerHour != null" >
        PRICE_PER_HOUR = #{pricePerHour,jdbcType=VARCHAR},
      </if>
      <if test="topPricePerDay != null" >
        TOP_PRICE_PER_DAY = #{topPricePerDay,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.charge.entity.po.device.PriceTypeCB" >
    update t_price_type_cb
    set FREE_TIME = #{freeTime,jdbcType=VARCHAR},
      PRICE_PER_HOUR = #{pricePerHour,jdbcType=VARCHAR},
      TOP_PRICE_PER_DAY = #{topPricePerDay,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.charge.entity.po.device.PriceTypeCB" >
     select * from t_price_type_cb
  </select>

  <!--根据充电箱id查询其对应的价格策略表-->
  <select id="findPriceTypeCBByCbId" resultMap="BaseResultMap" parameterType="Integer" >
   <if test="cbId">
     select *
     from
       t_price_type_cb
       t_charging_box
     where
       #{cbId} = t_charging_box.id and
       t_price_type_cb.ID = t_charging_box.PT_ID

   </if>
  </select>

</mapper>