<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.charge.dao.mapper.wechat.user.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.charge.entity.po.wechat.user.Order" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_NUM" property="orderNum" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="END_TIME" property="endTime" jdbcType="TIMESTAMP" />
    <result column="PAY_AMOUNT" property="payAmount" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR" />
    <result column="POWER_BANK_BORROW_PLACE" property="powerBankBorrowPlace" jdbcType="VARCHAR" />
    <result column="POWER_BANK_BACK_PLACE" property="powerBankBackPlace" jdbcType="VARCHAR" />
    <result column="POWER_BANK_STATUS" property="powerBankStatus" jdbcType="VARCHAR" />
    <result column="POWER_BANK_ID" property="powerBankId" jdbcType="VARCHAR" />
    <result column="BOX_CHARGING_ID" property="boxChargingId" jdbcType="VARCHAR" />
    <result column="PAY_TIME" property="payTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_NUM, CREATE_TIME, END_TIME, PAY_AMOUNT, PAY_STATUS, POWER_BANK_BORROW_PLACE, 
    POWER_BANK_BACK_PLACE, POWER_BANK_STATUS, POWER_BANK_ID, BOX_CHARGING_ID, PAY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.charge.entity.po.wechat.user.Order" >
    insert into t_order (ID, ORDER_NUM, CREATE_TIME, 
      END_TIME, PAY_AMOUNT, PAY_STATUS, 
      POWER_BANK_BORROW_PLACE, POWER_BANK_BACK_PLACE, 
      POWER_BANK_STATUS, POWER_BANK_ID, BOX_CHARGING_ID, 
      PAY_TIME)
    values (#{id,jdbcType=INTEGER}, #{orderNum,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{payAmount,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, 
      #{powerBankBorrowPlace,jdbcType=VARCHAR}, #{powerBankBackPlace,jdbcType=VARCHAR}, 
      #{powerBankStatus,jdbcType=VARCHAR}, #{powerBankId,jdbcType=VARCHAR}, #{boxChargingId,jdbcType=VARCHAR}, 
      #{payTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.charge.entity.po.wechat.user.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderNum != null" >
        ORDER_NUM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="endTime != null" >
        END_TIME,
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="powerBankBorrowPlace != null" >
        POWER_BANK_BORROW_PLACE,
      </if>
      <if test="powerBankBackPlace != null" >
        POWER_BANK_BACK_PLACE,
      </if>
      <if test="powerBankStatus != null" >
        POWER_BANK_STATUS,
      </if>
      <if test="powerBankId != null" >
        POWER_BANK_ID,
      </if>
      <if test="boxChargingId != null" >
        BOX_CHARGING_ID,
      </if>
      <if test="payTime != null" >
        PAY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="powerBankBorrowPlace != null" >
        #{powerBankBorrowPlace,jdbcType=VARCHAR},
      </if>
      <if test="powerBankBackPlace != null" >
        #{powerBankBackPlace,jdbcType=VARCHAR},
      </if>
      <if test="powerBankStatus != null" >
        #{powerBankStatus,jdbcType=VARCHAR},
      </if>
      <if test="powerBankId != null" >
        #{powerBankId,jdbcType=VARCHAR},
      </if>
      <if test="boxChargingId != null" >
        #{boxChargingId,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.charge.entity.po.wechat.user.Order" >
    update t_order
    <set >
      <if test="orderNum != null" >
        ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT = #{payAmount,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="powerBankBorrowPlace != null" >
        POWER_BANK_BORROW_PLACE = #{powerBankBorrowPlace,jdbcType=VARCHAR},
      </if>
      <if test="powerBankBackPlace != null" >
        POWER_BANK_BACK_PLACE = #{powerBankBackPlace,jdbcType=VARCHAR},
      </if>
      <if test="powerBankStatus != null" >
        POWER_BANK_STATUS = #{powerBankStatus,jdbcType=VARCHAR},
      </if>
      <if test="powerBankId != null" >
        POWER_BANK_ID = #{powerBankId,jdbcType=VARCHAR},
      </if>
      <if test="boxChargingId != null" >
        BOX_CHARGING_ID = #{boxChargingId,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        PAY_TIME = #{payTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.charge.entity.po.wechat.user.Order" >
    update t_order
    set ORDER_NUM = #{orderNum,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      PAY_AMOUNT = #{payAmount,jdbcType=VARCHAR},
      PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      POWER_BANK_BORROW_PLACE = #{powerBankBorrowPlace,jdbcType=VARCHAR},
      POWER_BANK_BACK_PLACE = #{powerBankBackPlace,jdbcType=VARCHAR},
      POWER_BANK_STATUS = #{powerBankStatus,jdbcType=VARCHAR},
      POWER_BANK_ID = #{powerBankId,jdbcType=VARCHAR},
      BOX_CHARGING_ID = #{boxChargingId,jdbcType=VARCHAR},
      PAY_TIME = #{payTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.charge.entity.po.wechat.user.Order" >
     select * from t_order
  </select>
</mapper>