<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.charge.dao.mapper.wechat.user.UserMapper" >
  <resultMap id="BaseResultMap" type="com.charge.entity.po.wechat.user.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
    <result column="GENDER" property="gender" jdbcType="VARCHAR" />
    <result column="USERFROM" property="userfrom" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="WX_OPENID" property="wxOpenid" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="LOCATION" property="location" jdbcType="VARCHAR" />
    <result column="POINT" property="point" jdbcType="INTEGER" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="APP_STATUS" property="appStatus" jdbcType="VARCHAR" />
    <result column="IS_STAFF" property="isStaff" jdbcType="VARCHAR" />
    <result column="IS_AGENT" property="isAgent" jdbcType="VARCHAR" />
    <result column="IS_VIP" property="isVip" jdbcType="VARCHAR" />
    <result column="FREE_TIME" property="freeTime" jdbcType="VARCHAR" />
    <result column="SKEY" property="skey" jdbcType="VARCHAR" />
    <result column="WX_UIONID" property="wxUionid" jdbcType="VARCHAR" />
    <result column="IS_UNSUBSCRIBE" property="isUnsubscribe" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NICK_NAME, AVATAR, GENDER, USERFROM, CREATE_TIME, WX_OPENID, CITY, LOCATION, 
    POINT, TELEPHONE, APP_STATUS, IS_STAFF, IS_AGENT, IS_VIP, FREE_TIME, SKEY, WX_UIONID, 
    IS_UNSUBSCRIBE, DESCRIPTION, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.charge.entity.po.wechat.user.User" >
    insert into t_user (ID, NICK_NAME, AVATAR, 
      GENDER, USERFROM, CREATE_TIME, 
      WX_OPENID, CITY, LOCATION, 
      POINT, TELEPHONE, APP_STATUS, 
      IS_STAFF, IS_AGENT, IS_VIP, 
      FREE_TIME, SKEY, WX_UIONID, 
      IS_UNSUBSCRIBE, DESCRIPTION, UPDATE_TIME
      )
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{userfrom,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{wxOpenid,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{point,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{appStatus,jdbcType=VARCHAR}, 
      #{isStaff,jdbcType=VARCHAR}, #{isAgent,jdbcType=VARCHAR}, #{isVip,jdbcType=VARCHAR}, 
      #{freeTime,jdbcType=VARCHAR}, #{skey,jdbcType=VARCHAR}, #{wxUionid,jdbcType=VARCHAR}, 
      #{isUnsubscribe,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.charge.entity.po.wechat.user.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="avatar != null" >
        AVATAR,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="userfrom != null" >
        USERFROM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="wxOpenid != null" >
        WX_OPENID,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="location != null" >
        LOCATION,
      </if>
      <if test="point != null" >
        POINT,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="appStatus != null" >
        APP_STATUS,
      </if>
      <if test="isStaff != null" >
        IS_STAFF,
      </if>
      <if test="isAgent != null" >
        IS_AGENT,
      </if>
      <if test="isVip != null" >
        IS_VIP,
      </if>
      <if test="freeTime != null" >
        FREE_TIME,
      </if>
      <if test="skey != null" >
        SKEY,
      </if>
      <if test="wxUionid != null" >
        WX_UIONID,
      </if>
      <if test="isUnsubscribe != null" >
        IS_UNSUBSCRIBE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="userfrom != null" >
        #{userfrom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxOpenid != null" >
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        #{appStatus,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null" >
        #{isStaff,jdbcType=VARCHAR},
      </if>
      <if test="isAgent != null" >
        #{isAgent,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null" >
        #{isVip,jdbcType=VARCHAR},
      </if>
      <if test="freeTime != null" >
        #{freeTime,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        #{skey,jdbcType=VARCHAR},
      </if>
      <if test="wxUionid != null" >
        #{wxUionid,jdbcType=VARCHAR},
      </if>
      <if test="isUnsubscribe != null" >
        #{isUnsubscribe,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.charge.entity.po.wechat.user.User" >
    update t_user
    <set >
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        AVATAR = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="userfrom != null" >
        USERFROM = #{userfrom,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="wxOpenid != null" >
        WX_OPENID = #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        LOCATION = #{location,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        POINT = #{point,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="appStatus != null" >
        APP_STATUS = #{appStatus,jdbcType=VARCHAR},
      </if>
      <if test="isStaff != null" >
        IS_STAFF = #{isStaff,jdbcType=VARCHAR},
      </if>
      <if test="isAgent != null" >
        IS_AGENT = #{isAgent,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null" >
        IS_VIP = #{isVip,jdbcType=VARCHAR},
      </if>
      <if test="freeTime != null" >
        FREE_TIME = #{freeTime,jdbcType=VARCHAR},
      </if>
      <if test="skey != null" >
        SKEY = #{skey,jdbcType=VARCHAR},
      </if>
      <if test="wxUionid != null" >
        WX_UIONID = #{wxUionid,jdbcType=VARCHAR},
      </if>
      <if test="isUnsubscribe != null" >
        IS_UNSUBSCRIBE = #{isUnsubscribe,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.charge.entity.po.wechat.user.User" >
    update t_user
    set NICK_NAME = #{nickName,jdbcType=VARCHAR},
      AVATAR = #{avatar,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=VARCHAR},
      USERFROM = #{userfrom,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      WX_OPENID = #{wxOpenid,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      POINT = #{point,jdbcType=INTEGER},
      TELEPHONE = #{telephone,jdbcType=VARCHAR},
      APP_STATUS = #{appStatus,jdbcType=VARCHAR},
      IS_STAFF = #{isStaff,jdbcType=VARCHAR},
      IS_AGENT = #{isAgent,jdbcType=VARCHAR},
      IS_VIP = #{isVip,jdbcType=VARCHAR},
      FREE_TIME = #{freeTime,jdbcType=VARCHAR},
      SKEY = #{skey,jdbcType=VARCHAR},
      WX_UIONID = #{wxUionid,jdbcType=VARCHAR},
      IS_UNSUBSCRIBE = #{isUnsubscribe,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.charge.entity.po.wechat.user.User" >
     select * from t_user
  </select>

  <!--根据openId查询用户是否存在-->
  <select id="findUserByOpenId" resultMap="BaseResultMap" parameterType="String">
    <if test="openId != null">
      select ID,WX_OPENID,SKEY from t_user where #{openId} = WX_OPENID
    </if>
  </select>

  <!-- 根据id更新skey-->
  <update id="updateSkeyById">
    update t_user
    <if test="Id != null ">
      <if test="skey != null">
        set SKEY = #{skey}
        where #{Id} = ID
      </if>
    </if>

  </update>

  <!-- 根据openId更新skey-->
  <update id="updateSkeyByOpenId" parameterType="String">
    update t_user
    <if test="openId != null ">
      <if test="skey != null">
        set SKEY = #{skey}
        where #{openId} = WX_OPENID
      </if>
    </if>

  </update>

  <!--根据skey查询用户个人相关信息(前端个人中心页需要展示的信息:积分,余额(总余额),押金状态)-->
  <select id="findUserInfoBySkey" parameterType="String" resultType="java.util.HashMap"><!--返回类型为map时,resultType一定不要写成resultMap!!! -->
    <if test="skey != null">
      select
--       t_user.POINT,
--       t_account.ACCOUNT_BALANCE,
--       t_account.DEPOSIT_STATUS

      t_user.point,
      t_account.account_balance,
      t_account.deposit_status
      from
      t_user,
      t_account
      where
      #{skey}=t_user.SKEY and t_account.UID= t_user.ID
    </if>
  </select>

  <!--根据skey查询用户个人钱包信息(前端我的钱包页需要展示的信息:充值余额,赠送余额)-->
  <select id="findUserWalletInfoBySkey" parameterType="String" resultType="java.util.HashMap"><!--返回类型为map时,resultType一定不要写成resultMap!!! -->
    <if test="skey != null">
      select
      t_account.recharge_balance,
      t_account.balance_gived
      from
      t_user,
      t_account
      where
      #{skey}=t_user.SKEY and t_account.UID= t_user.ID
    </if>
  </select>

  <!--根据skey查询用户openid-->
<select id="findUserOpenIdBySkey" parameterType="String" resultType="String">
  <if test="skey != null">
    select
    WX_OPENID
    from
    t_user
    where
    #{skey} = t_user.SKEY
  </if>
</select>


</mapper>