<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.charge.dao.mapper.wechat.agent.ShopMapper">
    <resultMap id="BaseResultMap" type="com.charge.entity.po.wechat.agent.Shop">
        <id column="ID" property="id" jdbcType="INTEGER"/>
        <result column="AG_ID" property="agId" jdbcType="INTEGER"/>
        <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR"/>
        <result column="LOGO" property="logo" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="CITY" property="city" jdbcType="VARCHAR"/>
        <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR"/>
        <result column="LATITUDE" property="latitude" jdbcType="VARCHAR"/>
        <result column="STAR_LEVEL" property="starLevel" jdbcType="VARCHAR"/>
        <result column="AREA_LABEL" property="areaLabel" jdbcType="VARCHAR"/>
        <result column="CATEGORY_LABEL" property="categoryLabel" jdbcType="VARCHAR"/>
        <result column="LOCATION_LABEL" property="locationLabel" jdbcType="VARCHAR"/>
        <result column="BUSINESS" property="business" jdbcType="VARCHAR"/>
        <result column="SHOP_STATUS" property="shopStatus" jdbcType="VARCHAR"/>
        <result column="CONTRACT_PERSON_NAME" property="contractPersonName" jdbcType="VARCHAR"/>
        <result column="CONTRACT_PERSON_PHONE" property="contractPersonPhone" jdbcType="VARCHAR"/>
        <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR"/>
        <result column="SHOP_PHOTO" property="shopPhoto" jdbcType="VARCHAR"/>
        <result column="CONTRACT_PHOTO" property="contractPhoto" jdbcType="VARCHAR"/>
        <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TIME" property="businessTime" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="LEAVE_TIME" property="leaveTime" jdbcType="TIMESTAMP"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, AG_ID, SHOP_NO, LOGO, NAME, ADDRESS, CITY, LONGITUDE, LATITUDE, STAR_LEVEL, AREA_LABEL, 
    CATEGORY_LABEL, LOCATION_LABEL, BUSINESS, SHOP_STATUS, CONTRACT_PERSON_NAME, CONTRACT_PERSON_PHONE, 
    ID_NUMBER, SHOP_PHOTO, CONTRACT_PHOTO, BANK_ACCOUNT, BUSINESS_TIME, CREATE_TIME, 
    LEAVE_TIME, UPDATE_TIME
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_shop
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shop
    where ID = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.charge.entity.po.wechat.agent.Shop">
    insert into t_shop (ID, AG_ID, SHOP_NO, 
      LOGO, NAME, ADDRESS, 
      CITY, LONGITUDE, LATITUDE, 
      STAR_LEVEL, AREA_LABEL, CATEGORY_LABEL, 
      LOCATION_LABEL, BUSINESS, SHOP_STATUS, 
      CONTRACT_PERSON_NAME, CONTRACT_PERSON_PHONE, 
      ID_NUMBER, SHOP_PHOTO, CONTRACT_PHOTO, 
      BANK_ACCOUNT, BUSINESS_TIME, CREATE_TIME, 
      LEAVE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{agId,jdbcType=INTEGER}, #{shopNo,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{starLevel,jdbcType=VARCHAR}, #{areaLabel,jdbcType=VARCHAR}, #{categoryLabel,jdbcType=VARCHAR}, 
      #{locationLabel,jdbcType=VARCHAR}, #{business,jdbcType=VARCHAR}, #{shopStatus,jdbcType=VARCHAR}, 
      #{contractPersonName,jdbcType=VARCHAR}, #{contractPersonPhone,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{shopPhoto,jdbcType=VARCHAR}, #{contractPhoto,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{businessTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{leaveTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.charge.entity.po.wechat.agent.Shop">
        insert into t_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="agId != null">
                AG_ID,
            </if>
            <if test="shopNo != null">
                SHOP_NO,
            </if>
            <if test="logo != null">
                LOGO,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="address != null">
                ADDRESS,
            </if>
            <if test="city != null">
                CITY,
            </if>
            <if test="longitude != null">
                LONGITUDE,
            </if>
            <if test="latitude != null">
                LATITUDE,
            </if>
            <if test="starLevel != null">
                STAR_LEVEL,
            </if>
            <if test="areaLabel != null">
                AREA_LABEL,
            </if>
            <if test="categoryLabel != null">
                CATEGORY_LABEL,
            </if>
            <if test="locationLabel != null">
                LOCATION_LABEL,
            </if>
            <if test="business != null">
                BUSINESS,
            </if>
            <if test="shopStatus != null">
                SHOP_STATUS,
            </if>
            <if test="contractPersonName != null">
                CONTRACT_PERSON_NAME,
            </if>
            <if test="contractPersonPhone != null">
                CONTRACT_PERSON_PHONE,
            </if>
            <if test="idNumber != null">
                ID_NUMBER,
            </if>
            <if test="shopPhoto != null">
                SHOP_PHOTO,
            </if>
            <if test="contractPhoto != null">
                CONTRACT_PHOTO,
            </if>
            <if test="bankAccount != null">
                BANK_ACCOUNT,
            </if>
            <if test="businessTime != null">
                BUSINESS_TIME,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="leaveTime != null">
                LEAVE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="agId != null">
                #{agId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="starLevel != null">
                #{starLevel,jdbcType=VARCHAR},
            </if>
            <if test="areaLabel != null">
                #{areaLabel,jdbcType=VARCHAR},
            </if>
            <if test="categoryLabel != null">
                #{categoryLabel,jdbcType=VARCHAR},
            </if>
            <if test="locationLabel != null">
                #{locationLabel,jdbcType=VARCHAR},
            </if>
            <if test="business != null">
                #{business,jdbcType=VARCHAR},
            </if>
            <if test="shopStatus != null">
                #{shopStatus,jdbcType=VARCHAR},
            </if>
            <if test="contractPersonName != null">
                #{contractPersonName,jdbcType=VARCHAR},
            </if>
            <if test="contractPersonPhone != null">
                #{contractPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="idNumber != null">
                #{idNumber,jdbcType=VARCHAR},
            </if>
            <if test="shopPhoto != null">
                #{shopPhoto,jdbcType=VARCHAR},
            </if>
            <if test="contractPhoto != null">
                #{contractPhoto,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="businessTime != null">
                #{businessTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveTime != null">
                #{leaveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.charge.entity.po.wechat.agent.Shop">
        update t_shop
        <set>
            <if test="agId != null">
                AG_ID = #{agId,jdbcType=INTEGER},
            </if>
            <if test="shopNo != null">
                SHOP_NO = #{shopNo,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                LOGO = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                ADDRESS = #{address,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                CITY = #{city,jdbcType=VARCHAR},
            </if>
            <if test="longitude != null">
                LONGITUDE = #{longitude,jdbcType=VARCHAR},
            </if>
            <if test="latitude != null">
                LATITUDE = #{latitude,jdbcType=VARCHAR},
            </if>
            <if test="starLevel != null">
                STAR_LEVEL = #{starLevel,jdbcType=VARCHAR},
            </if>
            <if test="areaLabel != null">
                AREA_LABEL = #{areaLabel,jdbcType=VARCHAR},
            </if>
            <if test="categoryLabel != null">
                CATEGORY_LABEL = #{categoryLabel,jdbcType=VARCHAR},
            </if>
            <if test="locationLabel != null">
                LOCATION_LABEL = #{locationLabel,jdbcType=VARCHAR},
            </if>
            <if test="business != null">
                BUSINESS = #{business,jdbcType=VARCHAR},
            </if>
            <if test="shopStatus != null">
                SHOP_STATUS = #{shopStatus,jdbcType=VARCHAR},
            </if>
            <if test="contractPersonName != null">
                CONTRACT_PERSON_NAME = #{contractPersonName,jdbcType=VARCHAR},
            </if>
            <if test="contractPersonPhone != null">
                CONTRACT_PERSON_PHONE = #{contractPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="idNumber != null">
                ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
            </if>
            <if test="shopPhoto != null">
                SHOP_PHOTO = #{shopPhoto,jdbcType=VARCHAR},
            </if>
            <if test="contractPhoto != null">
                CONTRACT_PHOTO = #{contractPhoto,jdbcType=VARCHAR},
            </if>
            <if test="bankAccount != null">
                BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
            </if>
            <if test="businessTime != null">
                BUSINESS_TIME = #{businessTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="leaveTime != null">
                LEAVE_TIME = #{leaveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.charge.entity.po.wechat.agent.Shop">
    update t_shop
    set AG_ID = #{agId,jdbcType=INTEGER},
      SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      LOGO = #{logo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      LONGITUDE = #{longitude,jdbcType=VARCHAR},
      LATITUDE = #{latitude,jdbcType=VARCHAR},
      STAR_LEVEL = #{starLevel,jdbcType=VARCHAR},
      AREA_LABEL = #{areaLabel,jdbcType=VARCHAR},
      CATEGORY_LABEL = #{categoryLabel,jdbcType=VARCHAR},
      LOCATION_LABEL = #{locationLabel,jdbcType=VARCHAR},
      BUSINESS = #{business,jdbcType=VARCHAR},
      SHOP_STATUS = #{shopStatus,jdbcType=VARCHAR},
      CONTRACT_PERSON_NAME = #{contractPersonName,jdbcType=VARCHAR},
      CONTRACT_PERSON_PHONE = #{contractPersonPhone,jdbcType=VARCHAR},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      SHOP_PHOTO = #{shopPhoto,jdbcType=VARCHAR},
      CONTRACT_PHOTO = #{contractPhoto,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      BUSINESS_TIME = #{businessTime,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      LEAVE_TIME = #{leaveTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.charge.entity.po.wechat.agent.Shop">
     select * from t_shop
  </select>

    <!--创建动态SQL,即sql片段-->
    <sql id="find_shop">
        select
        SHOP_PHOTO,NAME,BUSINESS_TIME,ADDRESS,SHOP_STATUS,LONGITUDE,LATITUDE,CONTRACT_PERSON_NAME
        from t_shop
        <where>
            <if test="map.MinLng != null">
                <!--商户经度大于最小经度 -->
                LONGITUDE+0 &gt; #{map.MinLng} and
            </if>
            <if test="map.MaxLng != null">
                <!--商户经度小于最大经度 -->
                LONGITUDE+0 &lt; #{map.MaxLng} and
            </if>
            <if test="map.MinLat != null">
                <!--商户纬度大于最小纬度 -->
                LATITUDE+0 &gt; #{map.MinLat} and
            </if>
            <if test="map.MaxLat != null">
                <!--商户纬度小于最大纬度 -->
                LATITUDE+0 &lt; #{map.MaxLat}
            </if>
        </where>

    </sql>

    <!--当查询的结果与POJO名字不一致的时候，用resultMap来实现映射。-->
    <resultMap type="com.charge.common.back.wechat.user.ShopInfoBack" id="shopInfoMap">
        <result column="SHOP_PHOTO" property="shopPhoto"/>
        <result column="NAME" property="shopName"/>
        <result column="BUSINESS_TIME" property="businessTime"/>
        <result column="SHOP_STATUS" property="shopStatus"/>
        <result column="CONTRACT_PERSON_NAME" property="shopTel"/>
    </resultMap>

    <!--根据经纬度范围查询商户-->
    <select id="findShopByCoordinates" resultMap="shopInfoMap" parameterType="Map">
        <include refid="find_shop"/>
    </select>

    <!--
        根据搜索内容以及经纬度范围查询商户
        搜索内容匹配字段:NAME,ADDRESS,SHOP_STATUS
    -->
    <select id="findShopBySearch" resultMap="shopInfoMap">
        <include refid="find_shop"/>
        <if test="searchData != null">
            and
            NAME like '%${searchData}%' or
            ADDRESS like '%${searchData}%' or
            SHOP_STATUS like '%${searchData}%'
        </if>
    </select>
</mapper>